<!DOCTYPE html>
<html ng-app="my-app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Hello world</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <link rel="stylesheet" href="/vendor.css">
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <nav>
  <div class="blue-grey nav-wrapper">
    <a href="#" data-activates="slide-out" data-sidenav="left" data-closeonclick="true">
      <i class="material-icons">menu</i>
    </a>
    <a href="#" class="brand-logo">Tack Shop</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a ui-sref="home"><i class="material-icons">store</i></a>
      <li><a ui-sref="cart"><i class="material-icons">shopping_cart</i></a>
    </ul>
  </div>
</nav>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <p><strong>Kebab Filter: Snake to Kebab</strong></p>
            <p>{{ 'rattle-snake' | kebab }}</p>
          <p><strong>Camel Filter: Snake/Kebab to Camel</strong></p>
          <ul>
            <li>{{ 'rattle_snake' | camel }}</li>
            <li>{{ 'chicken-kebab' | camel }}</li>
          </ul>
        </div>
        <div class="col s12" ng-init="animals_snake = ['siberian_tiger', 'african_lion', 'grizzly_bear', 'plains_zebra']">
          <p><strong>Kebab Filter + ng-Repeat</strong></p>
          <ul>
            <li ng-repeat="animal in animals_snake">{{ animal | kebab }}</li>
          </ul>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="/vendor.js"></script>
    <script src="/app.js"></script>
    <script>require('app');</script>
  </body>
</html>
