<!DOCTYPE html>
<html ng-app="my-app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello world</title>
    <link rel="stylesheet" href="/vendor.css">
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <h1>Hello Movies</h1>
    <div ng-controller="homeCtrl as home">
      <div ng-repeat="movie in home.movies">
        {{ movie.title }}
      </div>
    </div>
    <script src="/vendor.js"></script>
    <script src="/app.js"></script>
    <script>require('app');</script>
  </body>
</html>
